{% load static %}

<div class="alert alert-dark" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
            {% if post.user.profile.profile_image %}
                <img src="{{ post.user.profile.profile_image.url }}" width=75 height=75 class="rounded-circle" alt="{{ post.user.profile.user.username }}">
            {% else %}
                <img src="{% static 'images/default_pfp.png' %}" width=75 height=75 class="rounded-circle" alt="Profile Image">
            {% endif %}
            </div>
            <div class="col-11">
                {{ post.body }}<br/><br/>
                <small class="text-muted">
                    {{ post.created_at }} By
                    <a href="{% url 'profile' post.user.id %}">@{{ post.user.username|lower }}</a>
                    <br/>
                    <b>{{ post.likes_count }}</b>
                    {% if user in post.likes.all %}
                        <a href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart" style="color:Red"></i></a>
                    {% else %}
                        <a href="{% url 'post_like' post.id %}"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                    &nbsp;
                    <a href="{% url  'post_page' post.id %}"><i class="fa-solid fa-share"></i></a>
                    {% if request.user.username == post.user.username %}
                        &nbsp;
                        <a href="{% url  'edit_post' post.id %}"><i class="fa-solid fa-edit"></i></a>
                        &nbsp;
                        <a href="{% url  'delete_post' post.id %}"><i class="fa-solid fa-trash" style="color:Black"></i></a>
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
</div>